$color-primary:#55c57a;
$color-primary-light:#7ed56f;
$color-primary-dark:#28b485;


$color-primary-light-op:rgba(126, 213, 111,0.8);
$color-primary-dark-op:rgba(40, 180, 133,0.8);

$color-gray-dark:#777;
$color-gray-dark1:#333;


$color-gray-light1:#f7f7f7;
$color-gray-light2:#eee;

$color-secondary-light:#FFB900;
$color-secondary-dark:#FF7730;

$color-tertiary-light:#2998ff;
$color-tertiary-dark:#5643fa;

$color-white:#fff;
$color-dark:#000;
